<div class="container-fluid">
  <div class="col-md-offset-1">
    <h1>
      Welcome to !
    </h1>
  </div>

  <a routerLink="/users"> List Users</a>
  <a style="margin-left:10px" routerLink="/add">Add User</a>
  <br/>
  <router-outlet></router-outlet>
</div>